= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2=#{pluralize(@post.errors.count, "error")} prohibitedthis post from being saved:

      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :format
    %br
    = f.select :format, Post::FORMATS
  %p
    = f.label :body
    %br
    = f.text_area :body


  .actions= f.submit
